<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
Update task
<form action="/task/update" enctype="multipart/form-data" method="post">
    <div><label> Task id : <input type="number" name="id"/> </label></div>
    <div><label> New task name : <input type="text" name="taskName"/> </label></div>
    <div><label> New description : <input type="text" name="description"/> </label></div>
    <div><label> New file : <input type="file" name="file"/> </label></div>
    <div><input type="submit" value="Add"/></div>
</form>
</body>
</html>